<launch>
    <!-- size of map, change the size in x, y, z according to your application -->
    <arg name="map_size_x" value="16.0"/>
    <arg name="map_size_y" value="10.0"/>
    <arg name="map_size_z" value=" 3.0"/>

    <!-- main algorithm params -->
    <include file="$(find fast_planner)/launch/kino_algorithm.xml">
        <arg name="map_size_x_" value="$(arg map_size_x)"/>
        <arg name="map_size_y_" value="$(arg map_size_y)"/>
        <arg name="map_size_z_" value="$(arg map_size_z)"/>

        <!-- intrinsic params of the depth camera -->
        <arg name="cx" value="321.04638671875"/>
        <arg name="cy" value="243.44969177246094"/>
        <arg name="fx" value="387.229248046875"/>
        <arg name="fy" value="387.229248046875"/>

        <!-- maximum velocity and acceleration the drone will reach -->
        <arg name="max_vel" value="0.5"/>
        <arg name="max_acc" value="0.8"/>
    </include>

    <!-- trajectory server -->
    <node pkg="fast_planner" name="traj_server" type="traj_server" output="screen">
        <param name="traj_server/time_forward" value="0.0" type="double"/>
    </node>

    <node pkg="waypoint_generator" name="waypoint_generator" type="waypoint_generator" output="screen">
        <param name="waypoint_type" value="manual-lonely-waypoint"/>
    </node>

    <!-- 启动规划mission， 激光输入control_yaw_flag设为false，rgbd输入control_yaw_flag设为true -->
    <node pkg="prometheus_mission" type="planning_mission" name="planning_mission" output="screen" launch-prefix="gnome-terminal --">
        <param name="planning_mission/thresh_no_replan" value="0.2" type="double"/>
        <param name="planning_mission/control_yaw_flag" value="false" type="bool"/>
    </node>
</launch>
